<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위의태그를 입력시켜야 <mapper>태그를 쓸 수 있다. -->

<mapper namespace="com.stdroom.mapper.STDMapper">
<insert id="reviewWrite">
	insert into team_review (bno,rating,content,title,filename) values(team_review_bno_seq.nextval,#{rating},#{content},#{title},#{filename})
</insert>
<select id="reviewList" resultType="com.stdroom.domain.ReviewVO">
	<![CDATA[
	select bno,rating,content,title,filename,readcnt from (select rownum rn,bno,rating,content,title,filename,readcnt from team_review where
	 rownum <= #{pageNum} * #{amount}
	 ) where rn > 0 order by bno desc
	]]>
</select>
<select id="reviewTotal" resultType="int">
	select count(*) from team_review where bno > 0
</select>
</mapper>